.container {
  grid-template-columns: repeat(4, 1fr);
  display: grid;
  gap: 20px;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 20px;
  }
}
@media (max-width: 480px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    display: grid;
    gap: 20px;
  }
}
.box {
  background-color: lightblue;
  border: 2px solid black;
  padding: 20px;
  margin: 10px;
  text-align: center;
  font-size: 1.5em;
}
