.container {
  width: 100%;

  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
/*for pc*/
@media (min-width: 900px) {
  .container {
    width: 95%;
    gap: 20px;
  }

  .header,
  .footer {
    font-size: 24px;
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }

  .content-area {
    color: black;
    display: flex;
    gap: 20px;
    background-color: white;
  }

  .main-content {
    font-size: 24px;
    height: 10vh;
    background-color: lightgray;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-grow: 4;
  }

  .sidebar {
    font-size: 24px;
    height: 10vh;
    background-color: gray;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}
/*for tablets*/
@media (min-width: 600px) and (max-width: 900px) {
  .container {
    width: 95%;
    gap: 20px;
  }

  .header,
  .footer {
    font-size: 24px;
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }

  .content-area {
    color: black;
    display: flex;
    gap: 20px;
  }

  .main-content {
    font-size: 24px;
    height: 10vh;
    background-color: lightgray;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-grow: 4;
  }

  .sidebar {
    font-size: 24px;
    height: 10vh;
    background-color: gray;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-grow: 3;
  }
}
/*for phone*/
@media (max-width: 600px) {
  .container {
    width: 95%;
    gap: 20px;
  }

  .header,
  .footer {
    font-size: 24px;
    background-color: black;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }

  .content-area {
    color: black;
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  .main-content {
    font-size: 24px;
    height: 10vh;
    background-color: lightgray;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-grow: 4;
  }

  .sidebar {
    font-size: 24px;
    height: 10vh;
    background-color: gray;
    color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}
